README.md
sugar-dev/cache
sugar-dev/data
sugar-dev/examples
sugar-dev/files.md5
sugar-dev/include
sugar-dev/install
sugar-dev/jscalendar
sugar-dev/jssource
sugar-dev/log4php
sugar-dev/metadata
sugar-dev/ModuleInstall
sugar-dev/modules
sugar-dev/portal
sugar-dev/service
sugar-dev/soap
sugar-dev/themes
sugar-dev/upload
sugar-dev/upload_backup
sugar-dev/user
sugar-dev/XTemplate
sugar-dev/Zend

sugar-dev/*.php
sugar-dev/*.log
sugar-dev/*.txt
sugar-dev/*.html

# Ignore some files and directories from the custom directory.
sugar-dev/custom/history/*
sugar-dev/custom/modulebuilder/*
sugar-dev/custom/working/*
sugar-dev/custom/modules/*/Ext/
sugar-dev/custom/application/Ext/*
