README.md
cache
data
examples
files.md5
include
install
jscalendar
jssource
log4php
metadata
ModuleInstall
modules
portal
service
soap
themes
upload
upload_backup
user
XTemplate
Zend

*.php
*.log
*.txt
*.html
.config.php.swp
.htaccess
crossdomain.xml

# Ignore some files and directories from the custom directory.
custom/history/*
custom/modulebuilder/*
custom/working/*
custom/modules/*/Ext/
custom/application/Ext/*
